@if (topics() !== null) {
<div class="topic-list">
  @for (topic of topics(); track topic.id) {
  <button
    mat-flat-button
    (click)="selectTopic(topic)"
    [class.selected]="getSelectedTopicId() === topic.id"
  >
    @if (getSelectedTopicId() === topic.id) {
    <mat-icon>check</mat-icon>
    }
    {{ topic.name }}
  </button>

  }
</div>

@if (getSelectedTopicId()) {
<div class="topic-list">
  @for (subtopic of getSubTopics(); track $index) {
  <button mat-stroked-button (click)="selectTopic(subtopic)">
    {{ subtopic.name }}
  </button>
  }
</div>
} } @else {
<mat-spinner></mat-spinner>
}
