:host {
  display: flex;
  flex-direction: column;
}

button {
  margin: 0.5rem 0.5rem;
}

.topic-list {
  margin-bottom: 1rem;
}

.topic-button {
  background-color: #03045e;
}

.subtopic-button {
  background-color: #0077b6;
}
